{%extends 'base.html'%}
{% load static %}
{% load friendshiptags %}
{% block content %}
{{ block.super}}
<div class="container-fluid">
    {% for profile in profiles %}
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="row">
            <div class="column">
                <div class="card">
                    <img class="img-responsive rounded explore_profiles_image" src="{{profile.profile_photo.url}}" alt="profile_photo">
                    <div class="container">
                        <h3>@{{profile.user.username}}</h3>
                        <p class="title">{{profile.status}}</p>
                        <button type="button" class="btn btn-outline-primary btn-lg explore_button">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="row">
    <h2 class="text-center"> No Profile</h2>
    </div>
    {% endfor %}
    <div class="col-md-2"></div>
    </div>
</div>
{% endblock %}