{%extends 'base.html'%}
{% load static %}
{% load friendshiptags %}
{% block content %}
<div class="container-fluid">
    <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="column">
                <div class="card">
                    <img class="img-responsive img-thumbnail" src="{{profile.profile_photo.url}}" alt="profile_photo">
                    <div class="container">
                        <h3>@{{ user.username }}</h3>
                        <p class="title">{{ current_user.status }}</p>
                        <p>{{profile.bio}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="col-md-4">
        <div class="row">
        {% if user.is_authenticated %}
        <a href="{% url 'new-profile' %}"><button type="button" class="btn btn-outline-primary btn-lg explore_button">Edit Profile</button></a>
        {% endif %}
    </div>
    </div>

    <div class="col-md-2">

    </div>
    </div>

    <div class="row">
        <h1><strong>Posts</strong></h1>
        {% for image in images %}
        <div class="col-md-6">
            <div class="card">
              <img src="{{image.image.url}}" alt="picture">
              <div class="card-body">
                <p> {{image.user.username}}</p>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>




</div>
{% endblock %}